$primary: 'Comfortaa', sans-serif;
$secondary: 'Cutive Mono', monospace;
$body: 'Quicksand', sans-serif;

$primary-color: #d5b06a;
$secondary-color: #ffff;

* {
  font-family: $primary;
  font-size: 100%;
  scroll-behavior: smooth;
  color: $primary-color;
}

.offset-anchor {
  display: block;
  height: 18vw;
  margin-top: -18vw;
  visibility: hidden;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

%extrusion {
  box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48),
    -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
  border-radius: 7px;
}

%intrusion {
  box-shadow: 3px 3px 6px 0px #ccdbe8 inset, -3px -3px 6px 1px #ffffff80 inset;
  border-radius: 7px;
}
%text-body {
  font-family: $body;
  font-weight: lighter;
}

%link {
  color: $primary-color;
}

%link-plain {
  text-decoration: none;
}

%blazing-background {
  background-image: -webkit-linear-gradient(
    -10deg,
    $primary-color 40%,
    rgba(255, 255, 255, 1) 45%,
    $primary-color 50%
  );

  background-size: 200% 100%;
  background-position: 100% 0;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fil: transparent;

  transition: background 0.5s, font-size 0.1s ease-out;
}

%flex-row {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  &.reverse {
    flex-wrap: wrap-reverse;
  }
}

%stack {
  display: grid;
  gap: 3vw;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

%rounded {
  border-radius: 50%;
}

%text-centered {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

%centered-self {
  margin: 0 auto;
}

%floater {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

%section-wrapper {
  border: 1px double $primary-color;
  @extend %intrusion;
}

.side-by-side {
  @extend %flex-row;
}

body {
  margin: 0;
  position: relative;
  overflow: scroll;
}

h1 {
  font-size: 7vw;
}

p {
  line-height: 1.2rem;
  margin: 0;
}

a {
  @extend %link-plain;
  @extend %blazing-background;

  &:hover {
    background-position: -50% 0;
  }
}

img {
  max-width: 100%;
}

// box-shadow: 6px 2px 16px 0 rgba(136,165,191,0.48), -6px -2px 16px 0 rgba(255,255,255,0.8), -6px -2px 16px 0 rgba(255,255,255,0.8), -6px -2px 16px 0 rgba(255,255,255,0.8), -6px -2px 16px 0 rgba(255,255,255,0.8), -6px -2px 16px 0 rgba(255,255,255,0.8), -6px -2px 16px 0 rgba(255,255,255,0.8), -6px -2px 16px 0 rgba(255,255,255,0.8), 6px 2px 16px 0 rgba(136,165,191,0.48), 6px 2px 16px 0 rgba(136,165,191,0.48), 6px 2px 16px 0 rgba(136,165,191,0.48), 6px 2px 16px 0 rgba(136,165,191,0.48), 6px 2px 16px 0 rgba(136,165,191,0.48);

header {
  position: sticky;
  z-index: 2;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 3vw;
  height: 18vw;
  max-height: 11rem;

  //   @extend %extrusion;
}

.nav-bar {
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: stretch;
  justify-items: stretch;
}

.nav-link {
  @media screen and (max-width: 600px) {
    visibility: hidden;
  }
}

.logo {
  font-weight: bold;
  margin: 0 3vw 0 0;
  height: 100%;

  @extend %text-centered;
}

.rounded-button {
  max-height: 200px;
  height: 18vw;
  max-width: 200px;
  width: 18vw;
  padding: 1vw 1vw;

  @extend %rounded;
  @extend %centered-self;
  @extend %floater;

  @extend %blazing-background;
  transition: background 0.5s, font-size 0.1s ease-out;

  &:hover {
    height: 240px;
    width: 240px;
    background-position: -50% 0;
    :only-child {
      background-position: -50% 0;
    }
  }

  &:active {
    background-image: none;
    color: $primary-color;

    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: $primary-color;
    -webkit-text-fil: $primary-color;
  }
}

.button {
  justify-content: center;
  font-family: $secondary;
  font-size: 1.25rem;

  @extend %text-centered;

  @extend %blazing-background;
  @extend %extrusion;
  transition: background 0.5s, font-size 0.1s ease-out;

  &:hover {
    background-position: -50% 0;
    :only-child {
      background-position: -50% 0;
    }
    font-size: 1.4rem;
  }

  &:active {
    font-size: 1.25rem;
    background-image: none;
    color: $primary-color;

    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: $primary-color;
    -webkit-text-fil: $primary-color;
    box-shadow: 3px 3px 6px 0px #ccdbe8 inset,
      -3px -3px 6px 1px rgba(255, 255, 255, 0.5) inset;
  }
}

.img-container {
  aspect-ratio: 1/1;
  max-height: 200px;
  height: 18vw;
  max-width: 200px;
  width: 18vw;
  padding: 1vw 1vw;
  @extend %rounded;
  @extend %centered-self;
  @extend %floater;
}

.profile-photo {
  height: 100%;
  width: 100%;
  background-image: url('../images/photos/GABI.png');
  background-size: cover;
  @extend %rounded;
}

.section {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 2vw 7vw 5vw;
  margin: 3vw;
  @extend %section-wrapper;
}

.section-title {
  font-size: 3.5vw;

  line-height: 4.5vw;
  font-weight: bold;
  margin: 4vw 0 2vw 0;

  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.section-body {
  @extend %text-body;
}

.section-primary-column {
  min-width: 30%;
  flex-grow: 1;
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}

.section-secondary-column {
  margin: 0 5vw;
  flex-grow: 1;
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}

.mosaic {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 5vw;
}

.badge {
  max-width: 18vw;
}

#certificates {
  @extend %stack;
}

#open-pdf {
  position: absolute;
  top: 2vw;
  right: 2vw;
  padding: 2vw 1vw;
}

.contact-links {
  width: 100%;
}
.contact-link {
  margin: 3vw 2vw 0 0;
}

footer {
  height: 5vh;
  width: 100vw;
  visibility: hidden;
}
.thanks {
  text-align: center;
}
