*{
    font-family: 'Baskervville', serif;
    font-size: 100%;
    scroll-behavior: smooth;
}

h1{
    font-size: 4.5vh;
    margin: 0;
}

p{
    font-size: 3.5vh;
    line-height: 4.5vh;
    margin: 0;

}

.grid-container{
    display: grid;   
}

.flex-container{
    display: flex;
}

body{

    margin: 0;

    &.grid-container{
        grid-template-rows: auto 1fr auto auto;
    }
}

.nav-header.flex-container {
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    width: 100%;

    position: fixed;
    margin: 2vh 0 0 0;

    z-index: 10;

    background-color: white;
    box-shadow: 0 5px 7px rgba($color: #9c7f4b, $alpha: .5);

    a{
        color: #9c7f4b;
        text-decoration: none;
    }

    .logo{
        flex: 0 2 auto;
        max-width: 300px;


        font-size: 4vh;
        border-top: 1px solid #9c7f4b;
        border-bottom: 1px solid #9c7f4b;
        margin: 2vh;
        }

        // @media only screen and (max-width: 400px) { 
        //     align-self: center;

        // }

    ul.grid-container{

        // grid-template-columns: auto auto auto 1fr;
        display: flex;
        flex: 1 0 170px;
        flex-flow: row wrap;
        justify-content: flex-end;

        li.nav-button{
            display: inline-block;

            font-size: 3vh;
            color: #9c7f4b;

            margin-bottom: .5vh;
            padding: 0 2vw;

        }
    }
    
}

%content-card{

    margin: 0 5vh;
    padding: 5vh 5vh;
    
    // border: 3px solid #d5b06a;
    box-shadow: 0px 5px 7px rgba($color: #a49b68, $alpha: .5);
    
    
    text-align: center;
    color: #d5b06a;    
    background-color: rgba(255, 255, 255, .9);        
    
    h1{
        margin-bottom: 4vh;
    }
}

.main-content{
    // position: relative;


    background-image: url('./../images/folhagem-fundo-v.png');
    background-repeat: repeat;
    background-position: center;


    // overflow: scroll;

    .home.grid-container{

        place-items: center;

        min-height: 100vh;


        .content-container{
            place-items: center;
            
            @extend %content-card;
        }
      
    }

    .about{

        box-shadow: 0px -5px 7px rgba($color: #9c7f4b, $alpha: .3);
        border-radius: 40px 40px 0 0;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d5b06a+0,d5b06a+42,ffffff+42,ffffff+42,ffffff+100 */
        background: #d5b06a; /* Old browsers */
        background: -moz-linear-gradient(top,  #d5b06a 0%, #d5b06a 50%, #ffffff 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #d5b06a 0%,#d5b06a 50%,#ffffff 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #d5b06a 0%,#d5b06a 50%,#ffffff 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5b06a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        // background-color: #d5b06a, 176, 106);
        // height: 1vh;
        padding: 3rem;


        .content-container{
            text-align: left;
            max-width: 900px;
            margin: 50px auto;

            @extend %content-card;

            h1{
                align-self: center;
            }

        }
    }

    .work{
        // background-color: #d5b06a;
        background-color: white;
        
        flex-flow: row wrap;
        justify-content: space-around;

        padding: 10%;
        
        // place-items: center;

        .work-section{
            grid-template-rows: auto 1fr;
            place-items: center;
            color:  #9c7f4b;

            h1{
                padding: 0 5vh;
            }

            img{
                max-width: 150px; 
                margin: 10vh;               
            }

            .languages{
                
                align-self: start;
                justify-self: start;
                margin: 5vh 0;
                padding: 10px 0 20px 50px;

                border-left: 1px solid #9c7f4b;
                
                
                grid-gap: 1rem;
    
                // .project-link{

                // }
    
            }

        }

    }

    .curriculum.flex-container{
        justify-content: space-around;
        flex-flow: row wrap-reverse;
        padding-top: 20vh;

        background: #d5b06a; /* Old browsers */
        background: -moz-linear-gradient(top,  #d5b06a00 0%, #d5b06a00 30%, #ffffff 30%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #d5b06a00 0%,#d5b06a00 30%,#ffffff 30%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #d5b06a00 0%,#d5b06a00 30%,#ffffff 30%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5b06a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        .badges{
            flex: 0 1 200px;
            grid-template-rows: repeat(auto-fit, minmax(1fr, 200px));
            place-items: start center;
            margin: 0 auto 10vh;
            @extend %content-card;

            .badge{
                max-width: 200px;
            }
        }

        .resumee-container{
            // flex: ;
            max-width: 90%;
            margin: 0 10% 10vh;
        
            @extend %content-card;

            .resumee{
                text-align: left;

                #curriculum{
                    max-width: 500px;
                }
            }
        }
    }
}

footer{
    background-color: rgba($color: rgba(34, 34, 34, 0.443), $alpha: 1.0);
     box-shadow: 0 -3px 7px rgba($color: #9c7f4b, $alpha: .5);


    border-radius: 35px 35px 0 0;
    margin: 0 2vh;
    padding: 4vh 4vh 0;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    p,a,ul,li{
        color:  #d5b06a;
        text-decoration: none;
        font: 1em sans-serif;
    }

}
